// Big Slider on home page
$slider-height: 483px;

.slider-content{
	// @include myoutline(red);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.slider-copy{
		@include span(12);
		color: #fff;
		small{color: #fff;}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(7);
		}

		.xybox{
			height: 250px;
			display: flex;
			justify-content: center;
			align-items: center;	
			flex-direction: column;

			// small screen
			@include breakpoint($screen-sm-min){
				height: $slider-height;
			}


			h2{
				position: relative;
				padding: 24px 0;

				$h2-slider: (
					default : 25px,
					small   : 48px,
					medium  : 48px,
					large   : 56px
				);

				@include font-size($h2-slider);
				text-transform: uppercase;
				font-weight: 700;
				text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
				small{display: block;}

				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100px;
					height: 12px;
					background-color: $brand-primary;
				}
			}	


		}
	}

	.slider-form{
		@include span(5);
		background-color: $brand-primary;
		display: none;

		// small screen
		@include breakpoint($screen-sm-min){
			display: block;
			height: $slider-height;
		}
		
		.gform_wrapper{
			box-shadow: none;
			height: $slider-height;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.gform_heading{
				// @include myoutline(red);
				// padding-top: 80px;

				.gform_title{
					// font-size: 20px;
					text-align: center;
				}
			}

			.gfield_label{ 
				@extend .sr-only; 
			}

			.ginput_container{
				@include make-sm-column(12);			
			}

			.gform_footer{
				text-align: center;
				.gform_button{
					@extend .btn-mysolid;
					float: none;
					padding-left: 50px;
					padding-right: 50px;
					text-transform: uppercase;
					border-radius: 0;
				}
			}
		}

	}
} 
  

.slidewrap{
	position: relative;
	overflow: hidden;
}


// Home Page slider
.main-slider{

	.slick-slide{
		position: relative;
		height: 400px;
		display: block;

		// small screen
		@include breakpoint($screen-sm-min){
			height: $slider-height;
		}

		img{
			object-fit: cover;
			object-position: 50% 50%;
			height: 100%;
			min-width: 100%;
	
			// small screen
			@include breakpoint($screen-sm-min){
				height: $slider-height;
			}
		}
	}
}


