// Screen Reader stuff
.screen-reader-text{ @extend .sr-only; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Default Form
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
    @extend .form-control;
    @extend .input-sm;
}

input[type="submit"]{
    @extend .btn;
    @extend .btn-primary;
}

.required{ color: red; }

.page-id-15{
	.gform_widget{
		display:none;
	}
}


// .site-main{
// 	article{
// 		img{
// 			@include img-responsive();
// 		}
// 	}
// }