// padding

// Padding Top
.pt-xs{ padding-top: $padding-base-vertical; }
.pt-sm{ padding-top: $padding-base-vertical * 2; }
.pt-md{ padding-top: $padding-base-vertical * 3; }
.pt-lg{ padding-top: $padding-base-vertical * 4; }

// Padding Bottom
.pb-xs{ padding-bottom: $padding-base-vertical; }
.pb-sm{ padding-bottom: $padding-base-vertical * 2; }
.pb-md{ padding-bottom: $padding-base-vertical * 3; }
.pb-lg{ padding-bottom: $padding-base-vertical * 4; }


// Margin Top
.mt-xs{ margin-top: $padding-base-vertical; }
.mt-sm{ margin-top: $padding-base-vertical * 2; }
.mt-md{ margin-top: $padding-base-vertical * 3; }
.mt-lg{ margin-top: $padding-base-vertical * 4; }

// Margin left
.ml-xs{ margin-left: $padding-base-horizontal; }
.ml-sm{ margin-left: $padding-base-horizontal * 2; }
.ml-md{ margin-left: $padding-base-horizontal * 3; }
.ml-lg{ margin-left: $padding-base-horizontal * 4; }

// Margin bottom
.mb-xs{ margin-bottom: $padding-base-vertical; }
.mb-sm{ margin-bottom: $padding-base-vertical * 2; }
.mb-md{ margin-bottom: $padding-base-vertical * 3; }
.mb-lg{ margin-bottom: $padding-base-vertical * 4; }

// Margin right
.mr-xs{ margin-right: $padding-base-horizontal; }
.mr-sm{ margin-right: $padding-base-horizontal * 2; }
.mr-md{ margin-right: $padding-base-horizontal * 3; }
.mr-lg{ margin-right: $padding-base-horizontal * 4; }



// Backgrounds
.bg-gray-base{ 
	background-color: $gray-base;
	color: #fff; 
}
.bg-gray-darker{ background-color: $gray-darker; }
.bg-gray-dark{ background-color: $gray-dark; }
.bg-gray{ background-color: $gray; }
.bg-gray-light{ background-color: $gray-light; }
.bg-gray-lighter{ background-color: $gray-lighter; }

.bg-brand-primary{ background-color: $brand-primary; }
.bg-brand-success{ background-color: $brand-success; }
.bg-brand-info{ background-color: $brand-info; }
.bg-brand-warning{ background-color: $brand-warning; }
.bg-brand-danger{ background-color: $brand-danger; }

.bgc-fixed-alpha{
	background: url(images/testimonial-background.jpg) fixed no-repeat;
	background-size:cover;
	background-position:center;
	position: relative;
}

.bg-overlay{
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.4);
}

.nobreak{
	white-space: nowrap;
}


.flex-triangle{
	position: relative;
	margin-bottom: 50px;

	&:after{
		content: "";
		width: 0;
		height: 0;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		border-top: 50px solid $gray-lighter;

		position: absolute;
		bottom: -50px;
		left: 50%;
		transform: translateX(-50%);
	}
}


