@import "layouts/header";
@import "layouts/footer";
@import "layouts/navigation";
@import "layouts/gallery";
@import "layouts/utility-bar";
@import "layouts/article";

img {
	max-width: 100%;
	height: auto;
}

.site-content{
	@include clearfix();
	@include container();
	// @include myoutline(blue);
	margin-bottom: gutter();
	// margin-top: gutter();
}

	// blog pages to include widget area
	.group-blog, .content-area{
		// @include myoutline(green);
		@include span(12) ;
		padding: 0 15px;
		
		// small screen
		@include breakpoint($screen-xs-min){
			@include span(12) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(7) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(8) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(8) ;
		}
	}

	.widget-area{
		// @include myoutline(green);
		@include span(12) ;
		padding: 0 15px;
		margin-top: 22px;

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(12) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(5) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(4) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(4) ;
		}
	}


// Grid Stuff
.container-fluid{
	@include container(100%);
}

.container{
	@include container();
}


// Front Page
.quicklinkcont{
	@include container();
	
	.quicklinkitem{
		@include span(6);

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(3) ;
		}
	}
}


.home .content-area{
	@include span(12);

	article{
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.page-template-template-portfolio{
	.site-content{
		#primary{
			@include span(12);
		}
	}
}