.cta-alpha{
	// @include container();
	// @include myoutline(red);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 15px;
	padding-right: 15px;

	.cta-img{
		// @include myoutline(red);
		flex: 0 1 100%;
		
		// small screen
		@include breakpoint($screen-sm-min){
			flex: 0 1 20%;
		}

		img{
		 @include img-responsive(); 
		 margin-left: auto;
		 margin-right: auto;
			// small screen
			@include breakpoint($screen-sm-min){
				 float: right;
				 margin-left: initial;
				 margin-right: 24px;
			}
		}
	}

	.cta-body{
		// @include myoutline(red);
		flex: 0 1 100%;
	    align-self: center;

		// small screen
		@include breakpoint($screen-sm-min){
			flex: 0 1 80%;
		}
	}

}


.vendors-list{
	@include list-unstyled();
	display: flex;
	margin: 0 auto 0 -5px;
	justify-content: center;
	padding-top:2px;
	padding-bottom:2px;

	@media screen and (max-width: 400px) {
		flex-direction: column;
		align-items: center;
	} 

	> li {
		display: inherit;
		padding-left: 5px;
		padding-right: 5px;


		a{
			// @include myoutline(red);
			display: inherit;
			padding: 12px; 
			height: 130px;
			width: 150px;
			overflow: hidden;
			align-items: center;
			&:hover, &:focus{
				opacity: 0.5;
			}
		}


		img{
			@include img-responsive();
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.site-footer .social-links{
	.fa{font-size: 2rem;}
}

.custom-shame{
	margin-top: 24px;

	.well{
		@include span(12);

		// small screen
		@include breakpoint($screen-sm-min){
			@include gallery(6) ;
		}

		ul{
			margin-top: 12px;
			@include fa-list-icon();
			
			li{ padding: 4px 0; }

			a{ display: block; }
		}
	}
}

.tags-links{
	margin-left: 4px;
}


.modal-body{
	padding: 0;

	.gform_wrapper{
		margin-bottom: 0;
		background-color: $brand-primary;
		
		.gform_title{
			color: #fff;
		}

		.gfield_label{
			@extend .sr-only;
		}

		.gform_fields .gfield{
			margin-bottom: 0;
		}

		.gform_footer{
			margin-top: 12px;
			text-align: center;
			.gform_button{
			@extend .btn-mysolid;
			float: none;
			padding-left: 50px;
			padding-right: 50px;
			text-transform: uppercase;
			border-radius: 0;
			}
		}
	}
}


// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	@include center-block;
}