// Big Slider on home page


.slider-content{
    position: absolute;
    top: 0;
    left: 0;
	width: 100%;

	// h2 fontsizes
	$slider-h2: (
		default : 25px,
		small   : 38px,
		medium  : 32px,
		large   : 38px
	);
	
	$slider-h2-small: (
		default : 20px,
		small   : 21px,
		medium  : 25px,
		large   : 27px
	);

	h2{
		@include font-size($slider-h2);
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		margin: 6px;
	}

	.slider-body{
		overflow: hidden;
		width: 100%;
		position: relative;
				min-height: 190px;

		// @include myoutline(red);

		@include breakpoint($screen-md-min){
			@include span(7);
			height: 510px;
		}

		.xy-center{
				@include xy-center();
				width: 100%;
		}
	}

	.slider-form{
		display: none;

		@include breakpoint($screen-md-min){
			display: initial;
			@include span(5);
		}

		.well{
			padding: 0;
		}
	}

} 
 

.slidewrap{
	position: relative;
	overflow: hidden;
}


// Home Page slider
.main-slider{
	@include myoutline(red);

	.slick-slide{
		position: relative;
		height: 190px;

		// smaller screen
		@include breakpoint($screen-xs-min){
			height: 220px;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			height: 240px;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			height: 540px;
		}
		
		// medium screen
		@include breakpoint($screen-lg-min){
			height: 664px;
		}

		img{
			@include xy-center();
			width: auto;
			overflow: hidden;
			min-height: 100%;
			 @include breakpoint(320px){
			 	width: 100%;
			 	min-height: initial;
			 }

		}

	}
}
