.site-main article{
	
	// Header
	.entry-header{ 
		// @include myoutline(red);
		margin-bottom: gutter();
	}
	
	// Body Content
	.entry-content{ 
		 // @include myoutline(red); 
	}
	
	// Footer
	.entry-footer{ 
		 // @include myoutline(red); 
		background-color: $gray-lighter;  
		padding: 8px;
	}

	margin-bottom: 100px;

}


// Image Aligment in Post or pages layout

figure.wp-caption{

    // Default Stuff
    max-width: 100%;  
    margin-bottom: gutter();
    overflow: hidden;
    position: relative;

    //Default Image stuff 
    img{ @include img-responsive(); }

    // Right alignment 
    &.alignright{ 
        float: right; 
        margin-left: gutter();  
    }

    // Left Alignment
    &.alignleft{ 
        float: left;
        margin-right: gutter(); 
    }

    &.aligncenter{
        @include center-block();
        clear: both;
    }

    // Thumbnail - 150 x 150
    &[style="width: 150px"]{
        @include breakpoint(max-width $screen-xs-min){ max-width: 130px; }    // lets play nice on smaller phones. Gives a bit of space for wrapping.
    }
    // Medium - 300
    &[style="width: 300px"]{
        // outline-color: greenyellow;  
    }
    // Large - 640
    &[style="width: 640px"]{
         
    }
}

.size-thumbnail.aligncenter{
    @include center-block();
    clear: both;
}

.post{
    img{ @include img-responsive(); }

    .alignright{
        @include img-responsive();
        margin-bottom: 12px;
        @include breakpoint($screen-xs-min){
            float: right;
            margin-left: 12px;
        }
    }

    .alignleft{
        @include img-responsive();
        margin-bottom: 12px;
        @include breakpoint($screen-xs-min){
            float: left;
            margin-right: 12px;
        }
    }  

    .aligncenter{
        @include img-responsive();
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }

}