.site-footer{

	.site-info{
		@include span(12);
		padding-left: 15px;
		padding-right: 15px;
		

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(12) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(12) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(4) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(4) ;
		}

		.custom-logo-link{
			img{ 
				@include img-responsive(); 
			}
		}

	}

	.contact-location{
		@include span(12);
		padding-left: 15px;
		padding-right: 15px;
		
		ul.list-inline{
			display: inline-block;

			li{
				border-left: solid 1px rgba(#fff, 0.3);

				&:first-child{
					border-left-width: 0;
				}
			}
		}
	}

	.blog-feed{
		@include span(12);
		padding-left: 15px;
		padding-right: 15px;

		// small screen
		@include breakpoint($screen-xs-min){
			@include span(6) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(8) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(5) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(5) ;
		}

		.blogfeed-list{
			@extend .list-unstyled;
			li a{
				@include fa-sudo(true, f101, 0.3, #fff);
				@extend .btn, .btn-link;
				text-decoration: none;
				padding-left: 0;
				white-space: initial;
				text-align: left;
			}			
		}

	}

	.contact-lead{
		@include span(12);
		padding-left: 15px;
		padding-right: 15px;
		
		// small screen
		@include breakpoint($screen-xs-min){
			@include span(6) ;
		}

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(4) ;
		}

		// medium screen
		@include breakpoint($screen-md-min){
			@include span(3) ;
		}

		// Large screen
		@include breakpoint($screen-lg-min){
			@include span(3) ;
		}

		.box-right{
			// small screen
			@include breakpoint($screen-xs-min){
				display: inline-block;
				float: right;
			}
		} 
	}

	.social-links{
		@include list-unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	.nav-footerutility{
		// @include span(12);
	}

}

