.site-header{
	// @include myoutline(green);
	position:relative;
} 

.site-branding{
	// @include myoutline(green);
	background-color: $gray-base;	
    text-align: center;

	.custom-logo-link{
		display: block;
	
	    .custom-logo{
	    	width: 100%;
		    max-width: 320px;
		    height: auto;
	    }
	}
	
}



