.navbar{
	background-color: $gray-base;
	margin-bottom:0;
	min-height:0 !important;

	//Integrate mega-menu with current theme. Not very nice, but works better in mobile.
	.navbar-header{
		display: none;
	}
	.collapse{
		display: block;
	}
	.navbar-collapse{
		padding: 0;
	}
	//
	a{
		color:#fff !important;
		text-transform:uppercase;
	}
	.menu-item-home{
		a{
			padding: 8px 15px;
			.fa-home{
				color: $brand-primary;
				font-size:30px;
			}
		}
	}
	.navbar-nav{
		@include breakpoint($screen-sm-min){
			float:none !important;
			display:flex;
			justify-content:center;
			li{
				float:none !important;
			}
		} 
	}

	// Custom Style for menu item. ~ Request A Quote
	#mega-menu-wrap-primary-menu-general #mega-menu-primary-menu-general li.mega-menu-item{
		&.nav-item-alpha{
			// @include myoutline(red);
			a{
				background-color: $brand-primary;
				font-weight: 700;
				border: solid 1px #fff;
				border-radius: 4px;
				padding: 8px 15px !important;
				box-shadow: inset 1px 1px 5px rgba(#fff, 0.4);
			}
		}
	}

}

//
.navbar-nav{
	.active{
		>a{
			background-color: #333 !important;
		}
	}
}

//overide nav-bar container class to make it mobile responsive
.container>.navbar-header{
	margin:0;
}


//override Mega Menu styling
.mega-menu-wrap{
	background-color: $gray-base !important;
	.fa-home{
		color: $brand-primary;
		font-size: 30px;
	}
}

.mega-menu{
	>li{
		>a{
			padding: 15px !important;
			line-height:20px !important;
			height:auto !important;
		}
		&.mega-menu-item-home{
			a{
				padding: 8px 15px !important;
			}
		}
	}
	>li.mega-menu-item.mega-current-menu-ancestor > a.mega-menu-link{
		background-color: $gray-base !important;
	}
	>li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
		color: #222 !important;
	}
	li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item li.mega-menu-item > a.mega-menu-link{
		color: $brand-primary !important;
		&:hover, &:focus{
			color: lighten($brand-primary, 20%) !important;
		}
	}
	>li.mega-menu-item:not(.mega-toggle-on):not(.meta-animating) > a.mega-menu-link:hover{
		background-color:initial !important;
	}
	>.mega-current-menu-item{
		background-color: #333 !important;
	}
	>.mega-current-page-ancestor > a.mega-menu-link{
		background-color: $gray-base !important;
	}
	> li.mega-menu-megamenu > ul.mega-sub-menu > li.mega-menu-item > a.mega-menu-link{
		margin-bottom:5px !important;
		font-size:13px !important;
		@include breakpoint($screen-sm-min){
			font-size:15px !important;
		}
	}
}

.mega-menu-horizontal{
	text-align: center !important;
	>li{
		>a{
			text-transform: uppercase !important;
		}
	}
}

.mega-sub-menu{
	margin-top: 0px !important;
}

//

// 
.nav-footerutility{
    overflow: hidden;

    ul[id^="menu-"]{
		@include span(12);
        overflow: hidden;
        display: inline-block;

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(6) ;
		}

        .menu-item a{
            color: #fff;
            text-transform: uppercase;
            padding: $padding-large-vertical $padding-large-horizontal;

            &:hover, &:focus{
                color: darken(#fff, 20%);
            }
        }
    }

	.lg-sig{
		@include span(12);

		// small screen
		@include breakpoint($screen-sm-min){
			@include span(6) ;
		}

		ul{ 
			text-align: right; 
			a{ color: $gray-lighter; }
		}
	}
}


// Nav Pagination
.post-navigation, .posts-navigation{
	@include container();
	margin-bottom: gutter();
	padding-top: gutter();
	padding-bottom: gutter();

	.nav-links{

		// Previous button
		.nav-previous{
			@include span(6 no-gutters);
			a{
				@extend .btn;
				@extend .btn-default;
				@include fa-sudo(true, f104);
				&:hover{ text-decoration: none; }
			}
		}

		// Next button
		.nav-next{
			@include span(6 no-gutters);
			text-align: right;
			float: right;
			a{
				@extend .btn;
				@extend .btn-default;
				@include fa-sudo(false, f105);
				&:hover{ text-decoration: none; }
			}
		}
	}

}