.utility-bar{
	@include container();
	
		.social-media-cont{
			// @include myoutline(red);
			// @include span(6);
			display: none;

			// small screen
			@include breakpoint($screen-sm-min){
				display: block;
				@include span(5) ;
			}

			ul.social-media{
				padding: 8px 5px;
			    display: flex;
			    list-style: none;
			    flex-wrap: wrap;
			    margin:0;
			    li{
			    	padding-right:7px;
			    	a{
			    		i{
			    			font-size:25px;
			    		}
			    	}
			    }
			}
		}

		.googletranslate{
			// @include myoutline(red)
			@include span(6);

			// small screen
			@include breakpoint($screen-sm-min){
				@include span(2) ;
			}

			#google_language_translator{
				// display: inline-block;
				// text-align: center;
				margin: 0;
			}
		}

		.call-us{
			// @include myoutline(red)
			@include span(6);

			// small screen
			@include breakpoint($screen-sm-min){
				@include span(5) ;
			}

			text-align: right;
			a{
				display:flex;
				justify-content: flex-end;
				>div{
					display:inline-block;
					padding:13px 10px;
					
					&:first-child{
						background-color: $brand-primary;
						color:#fff;
						font-size: 16px;
						font-weight: bold;
						display: none;

						// small screen
						@include breakpoint($screen-xs-min){
							display: initial;
						}
					}

					&:nth-child(2){
						font-size:16px;
						background-color: $gray-lighter;
					}
				}
			}
		}


}

.social-media{
				padding: 8px 5px;
			    display: flex;
			    list-style: none;
			    flex-wrap: wrap;
			    margin:0;
			    li{
			    	padding-right:7px;
			    	a{
			    		i{
			    			font-size:25px;
			    		}
			    	}
			    }
			}

.lg-social-media{
				padding: 8px 5px;
			    display: flex;
			    list-style: none;
			    flex-wrap: wrap;
			    margin:0;
			    li{
			    	padding-right:7px;
			    	a{
			    		i{
			    			font-size:25px;
			    		}
			    	}
			    }
			}