.cta-request-quote{
	padding-left: 15px;
	padding-right: 15px;

	a{
		color: #fff;
		& > span{ 
			color: $gray-base;
			font-weight: 700; 
		}

		&:hover, &:focus{
			text-decoration: none;
			color: darken(#fff, 5%);
			& > span{ 
				color: $gray-darker;
				font-weight: 700; 
			}
		}
	}
}