.quicklinkitem{
	overflow: hidden;

	.thumbnail{ border-color: transparent; }

	.caption{
		text-align: center;

		h2{ 

			$quicklinkitem-h2: (
			  default : 18px,
			  small   : 20px,
			  medium  : 20px,
			  large   : 30px
			);

			@include font-size($quicklinkitem-h2);
			font-weight: 700; 
			text-transform: uppercase;
			color: $brand-primary;

		}

		// p{
		// 	// height: 60px;
		// }
	}

	.quicklinkimagecont{
		border: solid 3px green;
		display: block;
		padding: 12px;
	}

	img{
		@include img-responsive();
		max-height: 120px !important;
		width: auto;
	}


	a{
		&:hover, &:focus{
			opacity: 0.8;
		}
	}

}