// Featured Image
.featured-image{
    // Set picture height and width demensions. Note all pictures need to be equal
    $picture-width:    1200px;
    $picture-height:   80px;
    $picture-height-mobile:   80px;
    position: relative;
    // border-bottom: 20px solid $gray-lighter;


    // Image
    .img-cont{
        // Mobile First view
        display: block;
        height: $picture-height-mobile;
        overflow: hidden;
        position: relative;
        width: 100%;
        @include breakpoint($screen-xs-min){ 
            height: $picture-height;
        }

        img{
            // Mobile First view
            left: 50%;
            top: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
            min-height: 100%;
            width: auto;

            @include breakpoint(1200px){
                height: auto;
                width: 100%;  
            }
        }
    }

    // Title
    .title-cont{
        @include container();
        overflow: hidden;
        position: absolute;
        z-index: 1;
        left: 50%;
        bottom: 8px;
        transform: translateX(-50%);
        width: 100%;

        .featured-title{
            @include span(12);
            padding: 0 15px;

            $large-heading-fz: (
                default : (32px, 1.1),
                small   : (32px, 1.2), 
                medium  : (32px, 1.2),
                large   : (32px, 1.4),
            );

            $mobile-heading: 20px;
            font-size: $mobile-heading;
            color: #fff;
            text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
            font-weight: 700;
            // transform: translateX(15px);
            @include breakpoint($screen-sm-min){ 
                @include font-size($large-heading-fz);
            }
             
        }
    }
}
