
// Default lead form
.gform_wrapper{
	@extend .form-horizontal;
	padding: $padding-base-horizontal;
	box-shadow: 0px 2px 5px $gray-light;
	margin-bottom: $padding-base-horizontal;
	// background-color: $brand-primary;

	.gform_heading{
		// @include myoutline(green);
		margin-bottom: 6px;
		padding: 12px;

		.gform_title{
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
		} 
	}

	.gform_fields{
		// @include myoutline(green);
		list-style-type: none;
		margin: 0;
		padding: 0;
		 
		
		.gfield{
			@extend .form-group;
		
			.textarea { height: 140px; } 
		}

		.ginput_complex {

			label{
			  font-weight: 400;
			  font-size: floor((100% * $font-size-small / $font-size-base));
			  // color: darken(#fff, 15%);
			}
		}


		.gfield_label{ 
			@include make-sm-column(4);	
			@extend .control-label;		
			// color: #fff;
		}

		.ginput_container{
			@include make-sm-column(8);		

			// Default Form
			select,
			textarea,
			input[type="text"],
			input[type="password"],
			input[type="datetime"],
			input[type="datetime-local"],
			input[type="date"],
			input[type="month"],
			input[type="time"],
			input[type="week"],
			input[type="number"],
			input[type="email"],
			input[type="url"],
			input[type="search"],
			input[type="tel"],
			input[type="color"]{
				background-color: $brand-primary;
				border-color: #fff;
				border-radius: 0;
				// color: #fff;

				&::placeholder{
					color: $gray-base;
				}
			}	
		}

		.gfield_description{
			@extend .help-block;
			@include make-sm-column(12);	
			text-align: right;
			color: darken(#fff, 15%);
		}
	}

	.gform_footer{
		// @include myoutline(blue);
		overflow: hidden;
		
		.gform_button{ 
			float: right;
		}
	}

	.gsection_title{
		font-size: $font-size-base;
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
	}




}


// Validation Stuff
#gform_wrapper_1{

	.gform_validation_error{

		.validation_error{
			@extend .help-block;
			color: #fff;
		}

	}

}


.site-main .gform_wrapper{
	background-color: $gray-lighter;
	margin: 24px 0;
	padding: 0;


	.gform_heading{
		background-color: lighten($brand-primary, 25%);
		margin: 12px 0;
	}

	.gform_body{
		padding: 24px;

		.gfield{
			.ginput_container{
				// Default Form
				select,
				textarea,
				input[type="text"],
				input[type="password"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="date"],
				input[type="month"],
				input[type="time"],
				input[type="week"],
				input[type="number"],
				input[type="email"],
				input[type="url"],
				input[type="search"],
				input[type="tel"],
				input[type="color"]{
					background-color: #fff;
					border-color: $gray-light;
					border-radius: 0;
					// color: #fff;

					&::placeholder{
						color:  $gray-light;
					}
				}	
			}
			.gfield_description{
				color: $gray-light;
			}

		}
	}

	.gform_footer {
		padding: 0 24px 24px 0;
		.gform_button{
			@extend .btn-mysolid;
		}
	}


	.gfield_required{
		color: red;
		padding-left: 0.25rem;
	}

}


// Home
.home{

	.gform_wrapper{
		.gform_fields{
			.ginput_container{
				@include make-sm-column(8);		

				// Default Form
				select,
				textarea,
				input[type="text"],
				input[type="password"],
				input[type="datetime"],
				input[type="datetime-local"],
				input[type="date"],
				input[type="month"],
				input[type="time"],
				input[type="week"],
				input[type="number"],
				input[type="email"],
				input[type="url"],
				input[type="search"],
				input[type="tel"],
				input[type="color"]{
					background-color: #fff;
					border-color: #fff;
					border-radius: 0;
					// color: #fff;

					&::placeholder{
						color: $gray-base;
					}
				}	
			}	
		}

		.validation_message{
			display: none;
		}

		.validation_error{
			padding: 12px;
			color: red;
		}


			.gfield.gfield_contains_required{
		// @include myoutline(red);
		position: relative;

		&::before{
			content: '*';
			position: absolute;
			top: 50%;
			left: 1.8rem;
			transform: translateY(-50%);
			display: inline-block;
			font-size: 16px;
			color: red;
			z-index: 1; 
		} 
	}
	
	}


}