.hms-testimonial-group{

	.hms-testimonial-container {
		@extend .well;
		border-radius: 0;
		background-color: lighten($brand-primary, 50%);

		.testimonial{
			margin-bottom: 12px;
			background-color: rgba(#fff, 0.5);
			padding: 12px;
		}

		.author{
			text-align: right;
		} 
	}
}  


.home .hms-testimonials-rotator{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	position: relative;
	margin-top: 3.1rem;

	.hms-testimonial-container{
		@extend .well;
		border-radius: 0;
		background-color: lighten($brand-primary, 50%);
		width: 100%;

		.testimonial{
			margin-bottom: 12px;
			background-color: rgba(#fff, 0.5);
			padding: 12px;
		}

		.author{
			text-align: right;
			padding: 1.4rem;
		} 
	}
}

// Testimonial Page
article.page .hms-testimonials-rotator{
	// @include myoutline(red);
	// margin-top: 3.4rem;


	.hms-testimonial-container{
		@extend .well;
		border-radius: 18px;
		background-color: #fff;
		width: 100%;
		box-shadow: 0 1px 5px rgba(0,0,0,0.2);
	    padding: 15px 20px;
	    margin: 0 5px 10px;
		position: relative;


		.testimonial{
			position: relative;
		    color: #333333;
		    padding: 5px 30px 15px 30px;
			font-size: 16px;
			font-style: italic;
			font-weight: 400;


			&:before, &:after{
				content: "";
			    background: transparent url('images/lquo.png') left top no-repeat;
				width: 24px; 
				height: 20px;

				position: absolute;
				top: 50%;
				left: 0px;
				transform: translateY(-50%);

			}

			&:after{
			    background: transparent url('images/rquo.png') right top no-repeat;
				left: initial;
				right: 0;
			}

		}

		.author{
			text-align: left;

			em{
				font-weight: bold;
				font-style: normal;

			}
		} 
	}
}
 