.single-custom-post-type{
	padding: 0 10px;
	.intro-block{
		width:95%;
		max-width:1100px;
		margin: auto auto;
		padding: 2.5rem 0;
		text-align:center;
		h2{
			margin-top:10px;
		}
	}
}

.slider-custom-post-type{
	img{
		width:100% !important;
	}
	.slick-dots{
		width:100% !important;
		text-align: center !important;
	}
}

.porfolio-archieve{
	margin: 0 0 30px 0;
    display: flex;
    flex-wrap:wrap;
    list-style: none;
    padding:0;
    li{
	    width: 100%;
	    padding: 10px 50px 10px 0;
	    @include breakpoint($screen-sm-min){
			width: 50%;
	    }
	    @include breakpoint($screen-lg-min){
			width: 33.33%;
	    }
    	img{
    		width:100%;
    		display:block;
    	}
    }
	.entry-title{
		font-size:2.3rem;
	}
}

.blog-post-arrows{
	.fa{
		font-size:30px;
		&.fa-arrow-circle-right{
			float:right;
		}
		&.fa-arrow-circle-left{
			float:left;
		}

	}
}