// Default
.widget{
	// border: solid 1px $gray;
	margin-bottom: gutter() * 4;
	background-color: #fff;
	box-shadow: 0px 2px 5px $gray-light;

	@include breakpoint(max-width $screen-sm-min){ 
		margin-left: 15px;
		margin-right: 15px;
	}

	&-title{
		background-color: $gray-darker;
		color: #fff;
		padding: 15px;
		font-size: 19px;
		border-bottom: solid 1px $gray-light;
		text-transform: uppercase;
		font-weight: 700;
		margin:0;
	}

	ul{
		margin: 0;
		padding: 12px;
		list-style-type: none;

		a{
			// @extend .btn, .btn-link;
			display: inline-block;
			padding: 4px;
		}
	}
}

// Search
.widget_search{
	border-color: transparent;
	box-shadow: none;

	//Layout
	.search-form{
		display: flex;
	}

	.search-form > label{
		margin: 0;
		flex: 0 1 90%;
	}

	.search-form > .search-submit{
		margin: 0;
		flex: 0 1 30%;
	}


	// Styling
	.search-field{
	    border-radius: 4px 0 0 4px;
		min-height: 33px;
		border-right-width: 0;
	}

	.search-submit{
		border-radius: 0 4px 4px 0;
		background: #000;
		border-color: $gray-dark;
		color: darken(#fff, 5%);

		&:hover, &:focus{
			background: lighten(#000, 10%);
			color: #fff;
		}
	}
}

// Custom Menu
.widget_nav_menu{
	.menu{
		padding-left: 12px;
	}
}

// Calendar
.widget_calendar{

	.calendar_wrap{
		padding-left: 12px;
		padding-right: 12px;
	}

	table{
		@extend .table;
		@extend .table-condensed;

		#next{text-align: right;}
	}
}

// Tags
.widget_tag_cloud{
	.tagcloud{
		padding: 12px;
	}

	a{
		@extend .label;
		@extend .label-primary;
		display: inline-block;
		margin-bottom: 4px;
		// padding: 8px 12px;
	}
}

// Text Widget
.textwidget{
	padding: 0 12px 12px ;	

	h2{
		font-size: 19px;
		font-weight: 700;
	}
}

// gform_widget
.gform_widget{
	background-color: $brand-primary;

	.gform_button {
		@extend .btn-mysolid;
	}

	.gfield_label{
		@extend .sr-only; 
	}

	.gform_wrapper .gform_fields .ginput_container{
		width: 100% !important;
	}

	.gform_body .gfield_contains_required{
		position: relative;
		&::before{
			content: '*';
			position: absolute;
			top: 50%;
			left: 1.8rem;
			transform: translateY(-50%);
			display: inline-block;
			font-size: 16px;
			color: red;
			z-index: 1;
		} 
	}


	// Default Form
	select,
	textarea,
	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"]{
		background-color: #fff;
		border-color: $gray-light;
		border-radius: 0;
		// color: #fff;

		&::placeholder{
			color:  $gray-base !important;
		}
	}

}